# Group by statements

## MIN MAX AVG SUM - Aggregate functions
- Multiple data entries to a single output value

- The average 'amount' paid from the 'payments' table:

SELECT AVG(amount) FROM payment

- Round the output value to 2 dp:

SELECT ROUND(AVG(amount),2) FROM payment;

- The MINIMUM 'amount' paid from the 'payments' table:

SELECT MIN(amount) FROM payment;

- The MAXIMUM 'amount' paid from the 'payments' table:

SELECT MAX(amount) FROM payment;

- The sum total of 'amount' paid from the 'payments' table:

SELECT SUM(amount) FROM payment;

## GROUP BY
- A clause that divides the rows returned from the SELECT statement into groups
- For each created group, you can apply an aggregate function to it:
    - Calculate the sum, of the items, in a group
    - Count the number of items, in that group

- Syntax:

SELECT column_1, some_aggregate_function(column_2) <br>
FROM table_name <br>
GROUP BY column 1;

-  Grouping without another column to aggregate, only shows the distinct values:

SELECT customer_id <br>
FRO payment <br>
GROUP BY customer_id;

-  Including another column into SELECT, with an aggregate function attched to it

SELECT customer_id, SUM(amount) <br>
FROM payment <br>
GROUP BY customer_id;

- Sorts the result set by customer_id
    - Adds up the amount that belongs to the same customer

- This is to look into the total amount paid by each customer

- Order the result of this GROUP BY clause, by SUM(amount) in decending order:

SELECT customer_id, SUM(amount) <br>
FROM payment <br>
GROUP BY customer_id <br>
ORDER BY SUM(amount) DESC;

- Count the number of different film ratings
    - The group by can be conducted on a single column

SELECT rating, COUNT(rating) <br>
FROM film <br>
GROUP BY rating;

- Out of all of the employees who made the most transactions, and who processed the most money

SELECT staff_id, COUNT(amount), SUM(amount) <br>
FROM payment <br>
GROUP BY staff_id

## HAVING
- Usually used with the GROUP BY clause
    - To filter group rows that do not satisfy a specified condition

- Syntax:

SELECT column_1, some_aggregate_function(column_2) <br>
FROM table_name <br>
GROUP BY column 1 <br>
HAVING condition;

## Difference betwenen WHERE and HAVING clauses

- WHERE: sets the condtion for the individual rows, before the GROUP BY clause has been applied

- HAVING: sets the condition for the grouped rows, after the GROUP BY clause has been applied

- Customer that have spent more the 200 USD in total, over all of there transactions:

SELECT customer_id, SUM(amount) <br>
FROM payment <br>
GROUP BY customer_id <br>
HAVING SUM(amount) > 200

- The rental rate for each rating, without using GROUP BY

SELECT rating, rental_rate <br>
FROM film <br>
WHERE rating IN ('R','G','PG')

- The ratings out of R,G and PG that have an average rental rate lower than 3 USD

SELECT rating, AVG(rental_rate) <br>
FROM film <br>
WHERE rating IN ('R','G','PG') <br>
GROUP BY rating <br>
HAVING AVG(rental_rate) < 3;

- Which customers are eligible for the platinum credit card. The requirement is that the customer has at least a total of 40 payment transactions to their customer ID

SELECT customer_id, COUNT(amount) <br>
FROM  payment <br>
GROUP BY customer_id <br>
HAVING COUNT(amount) > 40;

- When grouped by rating which movie-ratings have an average rental duration of more than 5 days

SELECT rating, AVG(rental_duration) <br>
FROM film <br>
GROUP BY rating <br>
HAVING AVG(rental_duration) > 5;