# Joins
- Types of joins: INNER JOIN, OUTER JOIN and self-join

## Links

http://www.sql-join.com/ <br>
https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/

# AS statement
- Rename columns, or table selections, with an alias

- Rename a column after applying an aggregate function to it 
    - Rename the resulting column from sum(amount), for a chosen GROUP BY variable, to total_spent

SELECT customer_id, SUM(amount) AS total_spent <br>
FROM payment <br>
GROUP BY customer_id

## Inner joins
- Allows for the data from one table to be joined to the data in another table through relations
- PKA column will join to the FKA
    - PK: Primary key
    - FK: Foregin key
    - A: Indicates the column name to be joined

<img src="PKA_and_FKA.png">

Syntax for INNER JOIN:

SELECT A.pka, A.c1, B.pka, B.c2 <br>
FROM A <br>
INNER JOIN B ON A.pka = B.fka <br>

- For each row in the A table, PostgreSQL scans the B table to check if there is any row that matches the condition: A.pka = B.fka

- In case the table name is long, use a table alias. e.g housing_investments_table AS hit and refer to the column as hit.column_name

- The INNER JOIN clause returns rows table A that have corresponding rows in the table B

<img src="inner_join.png">

- Join the customer table to the payment table

SELECT <br>
    - _The table the column belongs should be specified_ <br>
customer.customer_id, <br>
    - _If the column table is only present in one of the tables, then it does not need to be specified_ <br>
first_name, <br>
last_name, <br>
email, <br>
payment_date, <br>
    - _The field customer_id is present is both tables so the table must be specified_ <br>
payment.customer_id <br>
FROM customer <br>
INNER JOIN payment <br>
ON payment.customer_id = customer.customer_id <br>

- Order by the customer_id:
    - As it appears in both tables the table must be specified
        - ORDER BY customer.customer_id

- Order by first name:
    - As it only appears in one table the table does not need to be specified
        - ORDER BY first_name

- Output the rows where the first name starts with an 'A'
    - WHERE first_name LIKE 'A%'

## Other joins

<img src="join_types.png">

## OUTER join

- See if there are film that are not in the inventory <br>
<br>
SELECT film.film_id,film.title,inventory_id <br>
FROM film <br>
LEFT JOIN inventory <br>
ON inventory.film_id = film.film_id <br>
<br>
- The lines that do not have a number within the iventory field will be NULL <br>
    - If the value is NULL then the cell will be empty, on query <br>
<br>
- Display results where titles are not in the inventory <br>
<br>
- By only displaying results where the inventory value is NULL <br>
<br>
WHERE inventory.film_id is NULL <br>
<br>
- Order the result by the film ID<br>
<br>
ORDER BY film.film_id

SELECT film.film_id,film.title,inventory_id  
FROM film  
LEFT JOIN inventory  
ON inventory.film_id = film.film_id  
WHERE inventory.film_id is NULL  
ORDER BY film.film_id

## Union join
- Combines the reult set of two or more SELECT statements into a single result

Syntax: <br>
<br>
SELECT column_1, column_2
<br>
FROM tbl_name_1
<br>
UNION
<br>
SELECT column_1, column_2
<br>
FROM tbl_name_2

- Rules for using UNION:
    - Both queries must return the same number of columns
    - The column that the UNION is applied to must be of the same data type

- Important notes:
    - UNION will remove all duplicate rows, unlss UNION All is used
    - UNION may place the rows in the first query before, after or between the rows in the result set of second query
        - Use ORDER BY to sort the rows in the combined result set by a specified column