# Advanced SQL Commands

- Timestamps and the extract function
- Mathematical functions
- String functions and operators
- SubQuery
- Self-Join

## Timestamps
- SQL can store data using the timestamp data-type
    - Timestamp columns can be created
    - Informattion can be extracted from timestamp objects

- The PostgreSQL extract function extracts parts from a date
    - extract(unit from date)

<img src="timestamp_objects.png">

- PostgreSQL datetime operators and functions:
    - https://www.postgresql.org/docs/9.6/functions-datetime.html

Select the payment dates, from the payment table: <br>

*SELECT payment_date FROM payment* <br>
<br></br>
Extract the days from payment dates, from the payment table: <br>

*SELECT extract(days from payment_date) FROM payment* <br>
<br></br>
Also the select other columns, such as customer_id: <br>

*SELECT customer_id, extract(days from payment_date) FROM payment* <br>
<br></br>
Rename the extracted datestamp information column using AS: <br>

*SELECT customer_id, extract(days from payment_date) AS day FROM payment*
<br></br>

- Calculate the total expendature by month <br>
<br></br>
*SELECT SUM(amount), extract(month from payment_date) AS month <br></br>
FROM payment <br></br>
GROUP BY month <br></br>
ORDER BY SUM(amount)*

- How much was made during the highest grossing month: <br></br>
<br></br>
*SELECT SUM(amount), extract(month from payment_date) AS month <br></br>
FROM payment <br></br>
GROUP BY month <br></br>
ORDER BY SUM(amount) DESC <br></br>
LIMIT 1*

## Mathematical functions
- https://www.postgresql.org/docs/9.6/functions-math.html

- __Mathematical operator__: New ID for an event, based off the customer_id and rental_id: <br></br>
<br></br>
*SELECT customer_id+rental_id as new_id <br></br>
FROM payment*

- __Mathematical function__: What is the average payment to 2 decimal places: <br></br>
<br></br>
*SELECT round(AVG(amount),2) <br></br>
FROM payment*

# String functions
- Used for string-formatting
    - https://www.postgresql.org/docs/9.6/functions-string.html

- Return the length of the characters in every row, of a given column: <br>
<br></br>
*SELECT first_name, char_length(first_name) <br></br>
FROM customer*

- Return the row values of a selected column as upper case letters: <br>
<br></br>
*SELECT upper(first_name) <br>
FROM customer*

- Return the row values of a selected column as lower case letters: <br>
<br></br>
*SELECT lower(first_name) <br></br>
FROM customer*

# Subquery
- Allow for the use of multiple SELECT statements
    - Can be understood as a query within a query

- __Non-subquery method__: Find the films that have a higher rental rate than teh average rental rate <br></br>
<br></br>
- Find the average rental rate by using SELECT and AVG <br></br>
<br></br>
*SELECT AVG(rental_rate) FROM film* <br>
<br></br>
- Using this result find the films using another SELECT statement <br></br>
<br></br>
*SELECT title, rental_rate <br></br>
FROM film <br></br>
WHERE rental_rate > 2.98* <br></br>
<br></br>
- The result of the first query must be remembered
- A second query must also be undertaken

## Subquery syntax
- Place second query in brackets
- insert it into the WHERE clause, as an expression

- __Subquery method__: Find the films that have a higher rental rate than teh average rental rate
<br></br>
<br></br>
*SELECT film_id,title, rental_rate <br></br>
FROM film <br>
WHERE rental_rate > (SELECT AVG(rental_rate) FROM film)* <br></br>

# Self Join
- Joinin a table to itself
- When combining rows with other rows in the same table
    - A table alias must be must be used to help SQL distinguish the left and right tables

## Self join syntax

*SELECT e1.employee_name <br></br>
FROM employee AS e1, employee AS e2 <br></br>
WHERE e1.employee_location = e2.employee_location <br></br>
AND e2.employee_name = "Joe"* <br></br>

- Return users if their first name matches with another users last name: <br></br>
<br></br>
*SELECT a.customer_id,a.first_name,a.last_name,b.customer_id,b.first_name,b.last_name <br></br>
FROM customer AS a,customer AS b  <br></br>
WHERE a.first_name = b.last_name*

- N.b The same task can be completed using a JOIN statement: <br></br>
<br></br>
*SELECT a.customer_id,a.first_name,a.last_name,b.customer_id,b.first_name,b.last_name <br></br>
FROM customer AS a <br></br>
JOIN customer AS b  <br></br>
ON a.first_name = b.last_name*

- In a scenario where all the results whether there is a match or not, should be displayed: <br></br>
<br></br>
*SELECT a.customer_id,a.first_name,a.last_name,b.customer_id,b.first_name,b.last_name <br></br>
FROM customer AS a <br></br>
LEFT JOIN customer AS b  <br></br>
ON a.first_name = b.last_name*