__Q1:__ How can you retrieve all the information from the cd.facilities table?

SELECT *
FROM cd.facilities

__Q2:__ You want to print out a list of all of the facilities and their cost to members. How would you retrieve a list of only facility names and costs?

SELECT name, membercost
FROM cd.facilities

__Q3:__ How can you produce a list of facilities that charge a fee to members?

SELECT name
FROM cd.facilities
WHERE membercost > 0

__Q4:__ How can you produce a list of facilities that charge a fee to members, and that fee is less than 1/50th of the monthly maintenance cost? Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

SELECT facid, name, membercost, monthlymaintenance
FROM cd.facilities
WHERE membercost > 0 AND (membercost < 0.02 * monthlymaintenance)

__Q5:__ How can you produce a list of all facilities with the word 'Tennis' in their name?

SELECT name
FROM cd.facilities
WHERE name LIKE '%Tennis%'

__Q6:__ How can you retrieve the details of facilities with ID 1 and 5? Try to do it without using the OR operator.

SELECT *
FROM cd.facilities
WHERE facid in (1,5)

__Q7:__ How can you produce a list of members who joined after the start of September 2012? Return the memid, surname, firstname, and joindate of the members in question.

SELECT memid, surname, firstname, joindate
FROM cd.members
WHERE joindate >= '2012-09-01'

__Q8:__ How can you produce an ordered list of the first 10 surnames in the members table? The list must not contain duplicates.

SELECT DISTINCT surname
FROM cd.members
ORDER BY surname
LIMIT 10

__Q9:__ You'd like to get the signup date of your last member. How can you retrieve this information?

SELECT MAX(joindate)
FROM cd.members

__Q10:__ Produce a count of the number of facilities that have a cost to guests of 10 or more.

SELECT COUNT(name)
FROM cd.facilities
WHERE guestcost >= 10

__Q11:__ Produce a list of the total number of slots booked per facility in the month of September 2012. Produce an output table consisting of facility id and slots, sorted by the number of slots.

SELECT facid, SUM(slots)
FROM cd.bookings
WHERE starttime >= '2012-09-01' AND starttime < '2012-10-01'
GROUP BY facid
ORDER BY SUM(slots)

__Q12:__ Produce a list of facilities with more than 1000 slots booked. Produce an output table consisting of facility id and total slots, sorted by facility id.

SELECT facid, SUM(slots)
FROM cd.bookings
GROUP BY facid
HAVING SUM(slots) > 1000
ORDER BY SUM(slots)

__Q13:__ How can you produce a list of the start times for bookings for tennis courts, for the date '2012-09-21'? Return a list of start time and facility name pairings, ordered by the time.

SELECT bks.starttime AS start, facs.name AS facility_name
FROM cd.facilities AS facs
JOIN cd.bookings bks
ON facs.facid = bks.facid
WHERE facs.facid IN (0,1)
AND bks.starttime >= '2012-09-21' AND bks.starttime < '2012-09-22'
ORDER BY bks.starttime

__Q14:__ How can you produce a list of the start times for bookings by members named 'David Farrell'?

SELECT bks.starttime
FROM cd.bookings bks
JOIN cd.members mems
ON mems.memid = bks.memid
WHERE mems.firstname = 'David' 
AND mems.surname = 'Farrell'