# Creating Databases and Tables

## Data types

- Boolean
- Character
- Number
- Temporal
- Special types
- Arrays

### Boolean
- Can be assigned the value __TRUE__ or __FASLE__
    - If the value is unknown, iteh value will be assigned as NULL
- When declaring the data type use the keyword: 
    - __boolean__ or __bool__ <br></br>
<br></br>
- When __inserting__ data into a Boolean column, postgreSQL will convert it into the Boolean value
    - E.g. *1, yes, y, true, t* are converted to __TRUE__
    - E.g. *0, no, n, false, f* are converted to __FALSE__ <br></br>
<br></br>
- When __selecting__ data from a Boolean column postgreSQL will display:
    - __TRUE__ as t
    - __FLASE__ as f
    - __NULL__ as (space)

### Character
- Single character: char <br></br>
<br></br>
- Fixed-length character strings: char(n) <br></br>
<br></br>
    - If the inserted string < length of the column
        - PostgreSQL will pad spaces
    - If the inserted string > length of the column
        - PostgreSQL *will* issue an error <br></br>
<br></br>
- Variable-length character strings: varchar(n)
    - If the inserted string < length of the column
        - PostgreSQL *will not* pad spaces

### Number
- Integers
    - Small integers (__smallint__), 2-byte signed integer, range (-32768,32768)
    - Integers (__int__), 4-byte signed integer, range (-214783648,214783648)
    - Serial is the same as integer
        - Execpt PostgreSQL will populate values into the column automatically <br></br>
<br></br>
- Floating-point numbers
    - __float(n)__ is a floating-point number 
        - Where __n__ has a precision up to 8-btyes
    - __real__ or __float8__ is a double precision floating-point number 
        - With a precision of 8-btyes
    - __numeric__ or __numeric(p,s)__ is a real number 
        - __p__: Digits before the decimal point
        - __s__: Digits after the decimal point
        - __numeric(p,)__: The exact number

### Temporal
- __date__: Stores date data
- __time__: Stores time data
- __timestamp__: Stores date and timedata
- __interval__: Stores the difference in timestamps
- __timestampz__: Stores both timestamps and timezone data

## Primary and foreign keys

### Primary keys
- A column or a group of columns used to identify a row uniquely in a table  
    - Defined using a primary key constraint  
    - A table can only have *one* primary key <br><br>

- Add the primary key when defining the table's structure:  
    - __CREATE TABLE table_name (  
      column_name data_type PRIMARY KEY,  
      column_name data_type, ...)__

### Foreign keys
- Foreign keys
    - A column or a group of columns that uniquely identifies a row, form another table
        - The foreign key refers to the primary-key of another table
<br></br><br></br>
- Created using a foreign key constraint

### Parent and child table
- __Referencing/Child table__: contains the *foreign* key
- __Referenced/Parent table__: The table that the foreign key references
<br></br><br></br>
- A table can have multiple foreign keys

# Resource for creating tables

CREATE TABLE account(
user_id serial PRIMARY KEY,
username VARCHAR (50) UNIQUE NOT NULL,
password VARCHAR (50) NOT NULL,
email VARCHAR (355) UNIQUE NOT NULL,
created_on TIMESTAMP NOT NULL,
last_login TIMESTAMP
);

CREATE TABLE role(
role_id serial PRIMARY KEY,
role_name VARCHAR (255) UNIQUE NOT NULL
);

CREATE TABLE account_role (
user_id integer NOT NULL,
role_id integer NOT NULL,
grant_date timestamp without time zone,
PRIMARY KEY (user_id, role_id),

CONSTRAINT account_role_role_id_fkey FOREIGN KEY (role_id)
  REFERENCES role (role_id) MATCH SIMPLE
  ON UPDATE NO ACTION ON DELETE NO ACTION,
CONSTRAINT account_role_user_id_fkey FOREIGN KEY (user_id)
  REFERENCES account (user_id) MATCH SIMPLE
  ON UPDATE NO ACTION ON DELETE NO ACTION
)

## Create table syntax
CREATE TABLE table_name  
(column_name TYPE column_constraint, table_constraint)  
INHERITS existing_table_name

- The INHERIT statement will give the new table, all the columns within the existing table and the columns defined in the CREATE TABLE statement

### Column constraints
- NOT NULL: The value of the column cannot be NULL  
- UNIQUE: The value of the column must be unique, across the whole table  
<br>
- A column can have many NULL values as postgreSQL treats NULL values to be unique
    - If a colunm has a UNIQUE constraint, that column can only have one NULL value  
<br>
- PRIMARY KEY - This constraint is a combination of NOT NULL and UNIQUE
    - When defining one column use __column_level_contraint__
    - When defining multiple columns use __table_level_contraint__  
<br>
- CHECK - Enables to check a condition when you insert or update data
    - E.g. The values in a price column must be positive  
<br>
- REFERENECES - Create a contrain for the value of the column if it is present in another table
    - E.g. Defining the foreign key(s)

### Table constraints
- Applies to the entire table not only a single column  
<br>
- UNIQUE (column_list):
    -  Ensures that the column included within the () must be UNIQUE values  
<br>
- PRIMARY KEY (column_list):
    - Define a PRIMARY KEY consisting of mulitple columns  
<br>
- CHECK (condition): 
    -  CHECK condition when inserting or updating data  
<br>
- Reference: 
    - Create constraints for column-values that will be used as foreign keys

### Creating a new database
- Right click databases > Create > Database > Name database > save

#### Create a table named account, within learning db
CREATE TABLE account(  
user_id serial PRIMARY KEY,  
username VARCHAR(50) UNIQUE NOT NULL,  
password VARCHAR(50) NOT NULL,  
email VARCHAR(335) UNIQUE NOT NULL,  
created_on TIMESTAMP NOT NULL,  
last_login TIMESTAMP);

#### Create a table named role, within learning db
CREATE TABLE role(  
role_id serial PRIMARY KEY,  
role_name VARCHAR(255) UNIQUE NOT NULL  
);

#### Create a table named account_role, within learning db
CREATE TABLE account_role(  
user_id integer NOT NULL,  
role_id integer NOT NULL,  
grants_date timestamp without time zone,  
PRIMARY KEY(user_id, role_id),  
<br>
CONSTRAINT account_role_role_id_fkey FOREIGN KEY (role_id)  
&nbsp; REFERENCES role (role_id) MATCH SIMPLE  
&nbsp; ON UPDATE NO ACTION ON DELETE NO ACTION,  
CONSTRAINT account_role_user_id_fkey FOREIGN KEY (user_id)  
&nbsp; REFERENCES account (user_id) MATCH SIMPLE  
&nbsp; ON UPDATE NO ACTION ON DELETE NO ACTION  
)

## Insert
- The INSERT statement allows you to insert one or more rows into a table at a time

###  Syntax
#### Add one row
__INSERT INTO table_name___(column1,column2,...)  
__VALUES__(value1,value2,...)
#### Add mulitple rows
__INSERT INTO table_name___(column1,column2,...)  
__VALUES__(value1,value2,...),  
&emsp; &emsp; &emsp; (value1,value2,...),  
&emsp; &emsp; &emsp; ...  
#### Insert date from another table
__INSERT INTO table_name___  
__SELECT__ column1,column2,  
__FROM__ another_table  
__WHERE__ condition  
#### Duplicate the same schema and structure of an existing table
__CREATE TABLE__ new_table_name LIKE (old_table_name)

## Update
- Update existing data in a table

###  Syntax
#### Change the values in one/mulitple columns
__UPDATE table_name__  
__SET__ column1 = value1,  
&emsp; &emsp;column2 = value2,  
__WHERE__ condition

## Delete
- Delete rows within a table

###  Syntax
#### Delete  row(s)
__DELETE FROM__ table_name  
__WHERE__ condition  
#### show the delete row(s)
__DELETE ROM__ table_name  
__WHERE__ condition  
__RETURNING__ *

## Alter table
- Change an existing table's structure

###  Syntax
__ALTER TABLE__ table_name __action__  
#### Actions
- __ADD COLUMN__, __DROP COLUMN__, __RENAME COLUMN__
- Set default value for the column
- __ADD CONTRAINT__
- Add __CHECK__ constraint to a column
- __RENAME TO__

### Create table to alter
__CREATE TABlE__ link(  
link_id serial __PRIMARY KEY__,  
title VARCHAR(512) __NOT__ NULL,  
url VARCHAR(1024) __NOT__ NULL __UNIQUE__  
)
#### Add column
- __ALTER TABLE__ link __ADD COLUMN__ active boolean <br></br> <br></br>

#### Remove/drop column
- __ALTER TABLE__ link __DROP COLUMN__ active <br></br> <br></br>

#### Rename column
- __ALTER TABLE__ link __RENAME COLUMN__ title __TO__ new_title <br></br> <br></br>

#### Rename table
- __ALTER TABLE__ link __RENAME TO__ url_table <br></br> <br></br>

## Drop table
- Change an existing table's structure

### Syntax
__DROP TABLE IF EXISTS__ table_name

## Check consraint
- Uses a Boolean expression to evaluate if the values in a column meet a requirement
- If the values pass the CHECK they will be inserted/updated

### Create table with a CHECK statement
__CREATE TABlE__ new_users(  
id serial __PRIMARY KEY__,  
first_name VARCHAR(50),  
birth_date __DATE__ __CHECK__(birth_date > '1900-01-01'),  
join_date __DATE__ __CHECK__(join_date > birth_date),  
salary __integer__ __CHECK__(salary > 0)  
)
#### Insert new columns and values, into the table
__INSERT INTO__ new_users(first_name,birth_date,join_date,salary)  
__VALUES__ ('Joe','1980-02-02','1990-04-04',99000)